azure-mgmt-compute>=30.0.0
azure-mgmt-network==29.0.0
azure-mgmt-resource>=23.0.0
azure-mgmt-monitor>=5.0.0
azure-identity>=1.12.0
tqdm>=4.64.0
pandas>=1.5.0
scikit-learn>=1.3.0
matplotlib>=3.6.0
seaborn>=0.12.0 